<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include link %>
    <%- include head %>
</head>
<body>
    <section class="page-header bg_img" data-background="./assets/images/banner/banner.jpg">
        <div class="container">
            <h3 class="title"><span class="shape-wrapper"><span class="shape"></span>教练信息<span
                        class="shape"></span></span></h3>
        </div>
    </section>
    <!-- Page Header EndsHere -->
    <!-- Breadcrumb Section Starts Here -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="breadcrumb-wrapper">
                <div class="breadcrumb-title">
                    <h6 class="title">教练信息</h6>
                </div>
                <ul class="breadcrumb">
                    <li>
                        <a href="/coach_info">我的信息</a>
                    </li>
                    <li>
                        <a href="/coach_news">活动新闻发布</a>
                    </li>
                     <li>
                        <a href="/coach_order">预约处理</a>
                    </li>
                     <li>
                        <a href="/logout">注销</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Ends Here -->
    <!-- Four Not Four Section Starts Here -->
    <section class="login-section padding-bottom padding-top">
        <div class="container">
            <div class="login-wrapper">
                <h3 class="title">我的信息</h3>
                	
                    <div class="form-group">
                        	<p>教练id：<%=coach.coach_id%></p>
                    </div>
                    <div class="form-group">
                        	<p>教练名：<%=coach.name%></p>
                    </div>
                    <div class="form-group">
                        	<p>教练密码：<%=coach.password%></p>
                    </div>
                    
                    
                    
            </div>
        </div>
    </section>
</body>
</html>